.progress {
	width: 100%;
	height: 20px;
	appearance: none;
	border-radius: 10px;
	background-color: #ddd;
}

.progress::-webkit-progress-bar {
	border-radius: 10px;
	background-color: #ddd;
}

.progress::-webkit-progress-value {
	border-radius: 10px;
	background-color: #007bff;
}
